@import url('fontfamiltinter.css');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Poppins');

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold/Montserrat-Bold.otf')  format('opentype'),
       url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
      url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf')  format('truetype'),
       url('../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot') format('embedded-opentype'),
    url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.otf')  format('opentype'),
       url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf')  format('truetype'), url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular/Montserrat-Regular.otf')  format('opentype'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
      url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'),
       url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
:root {
  --alabaster: #f9fafa;
  --black: #00000033;
  --calypso: #29778c;
  --chateau-green: #34a853;

  --dove-gray: #707070cc;
  --eerie-black: #1e1e1e;
  --granite-gray: #666666;
  --gumbo: #7fa3ad;
  --stylebranddark: #007e8c;
  --stylebrandlight: #d9f1f3;
  --stylebrandmedium: #61b9c2;
  --styletextlinks: #007e8c;
  --pink-swan: #bbbbbb;
  --stylebrandmain: #089bab;
  --alto: #dddddd;

  --ui-usagebuttonsdisabled-bg: #f3f3f3;

  --ui-usagebuttonsprimary---focus: #61b9c2;
  --ui-usagebuttonsprimary---hover: #007e8c;
  --ui-usagebuttonssecondary---hover: #007e8c;
  --ui-usageiconsprimary---focus: #007e8c;
  --ui-usageoverlaysmain: #00000066;
  --white-lilac: #f8fcfd;
  --harp: #e5f2e8;
  --ui-usageiconsdisabled: #e7e9ec;
  --star-dust: #a1a1a1;
 
  --font-size-20px: 20px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 30px;
 
/*  --font-family-helvetica_now_text-bold: "Helvetica Now Text-Bold";*/
  --font-family-open_sans: "Open Sans";
  --font-family-pt_mono: "PT Mono";
  /* --font-family-inter-regular: "Inter-Regular"; */
  --font-family-inter-regular: "Inter";
  --font-family-inter-semibold: "Inter";
  /* --font-family-inter-semibold: "Inter-SemiBold"; */
  --font-family-inter-bold: "Inter";
  /* --font-family-inter-italic: "Inter-Italic"; */
  --font-family-inter-italic: "Inter";
  --styletextprimary2: #2d2d2d;
  --ui-usagebuttonsprimary---default2: #089bab;
  --ui-usagebuttonsprimary---default3: #089bab;
  --ui-usagebuttonswhite2: #ffffff;
  --ui-usagebuttonswhite3: #ffffff;
  --ui-usagebuttonswhite4: #ffffff; 
  --font-size-m2: 14px;
  --font-size-xl2: 30px;
  --aztec: #0e201a99;
  --aztec-2: #0e201a;
  --burnt-sienna: #e07748;
  --catskill-white: #ecf7f9;
  --ecru-white: #f4f3e9;
  --foggy-gray: #cbcab740;
  --log-cabin: #231f20;
  --nevada: #676d73;
  --sonic-silver: #6e7976;
  --stylebackgroundsactive: #f5f5f5;
  --stylebackgroundscontainers: #f9f9f9;
  --stylebackgroundsmain: #f9fafb;
  --stylebackgroundswhite: #ffffff;
  --stylebrandmain: #089bab;
  --stylestrokemain: #e0e0e0;
  --styletextdisabled: #bdbdbd;
  --styletextprimary: #2d2d2d;
  --styletextsecondary: #757575;
  --styletextwhite: #ffffff;
  --tall-poppy: #bd3827;
  --tuna: #333e44;
  --turquoise-pearl: #45b7cf;
  --ui-usagebuttonsdisabled: #bdbdbd;
  --ui-usagebuttonsprimary---default: #089bab;
  --ui-usagebuttonssecondary---default: #333333;
  --ui-usagebuttonssecondary---focus: #000000;
  --ui-usagebuttonswhite: #ffffff;
  --ui-usageiconsinverted: #ffffff;
  --ui-usageiconsprimary---default: #bdbdbd;
  --ui-usageiconsprimary---hover: #089bab;
  --ui-usageiconssecondary: #2d2d2d;

  --ui-usagesemanticalert---dark: #e31b0c;
  --white-rock: #e8e7d9;
 
  --font-size-30px: 30px;
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 18px;
  --font-size-xxxxl: 32px;
  --font-size-xs: 11.4px;
  --font-size-xxs: 10px;
  --font-size-xxxs: 9.8px;
  --font-size-xxxxs: 8px;
 
  --font-family-inter: "Inter";
  --font-family-pt_mono-regular: "PT Mono-Regular";
  --font-family-roboto: "Roboto";
  --font-family-montserrat-bold: "Montserrat-Bold";
  --font-family-montserrat-regular: "Montserrat-Regular";
  --font-family-montserrat-semibold: "Montserrat-SemiBold";

  --font-family-poppins-bold: "Poppins";
  --font-family-poppins-light: "Poppins";
  --font-family-poppins-medium: "Poppins";
  --font-family-poppins-regular: "Poppins";
  --font-family-poppins-semibold: "Poppins";
  --font-family-roboto-bold: "Roboto-Bold";
  --font-family-roboto-regular: "Roboto-Regular";
  --gravel: #483d4a;
  --red: #ff0000;
/*  --font-family-inter-medium: "Inter-Medium";*/
  --font-family-inter-medium: "Inter";
  --wild-sand: #f3f4f6;
}
.modal-title{
  color: var(--styletextprimary) !important;
}
label{
  font-family: var(--font-family-inter-semibold) !important;
  /* color: var(--styletextprimary) !important; */
}
.heading-h3-1{
  color: var(--styletextprimary);    
}
.modal-invite{
  color: var(--styletextsecondary);
}
.invited-user{
  font-family: var(--font-family-inter-semibold) !important;
}
.hide_scroll{
  overflow-y:hidden;
  overflow: hidden !important;
}
.font-m{
  font-size: var(--font-size-m);
  color: var(--styletextsecondary);
  font-weight: 400;
}
.question-text{
  color: var(--styletextprimary);
  font-weight: 400;
}
.font-helvetica{
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
}
.heading-1 {
/*  font-family: var(--font-family-inter);*/
  font-family: var(--font-family-inter-bold);
  font-size: var(--font-size-30px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}


.heading-2 {
  /* font-family: var(--font-family-inter); */
  font-family: var(--font-family-inter-bold);
  font-size: var(--font-size-20px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.heading-3 {
  font-family: var(--font-family-inter-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.heading-4 {
  font-family: var(--font-family-inter-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.heading-5 {
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.body-large {
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.body-small {
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

/* .body-extra-small {
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-s);
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
} */

.body-extra-small {
  font-family: var(--font-family-inter-italic);
  font-size: var(--font-size-s);
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
}
.anchor-small {
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}
.label-large {
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.label-small {
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}
.anchor-large {
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}
.inter-medium-blue-green-62px {
  color: var(--stylebrandmain);
  font-family: var(--font-family-inter-medium);
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
}

.roboto-normal-ecru-white-18px {
  color: var(--ecru-white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-aztec-14px {
  color: var(--aztec);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-burnt-sienna-32px {
  color: var(--burnt-sienna);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-aztec-14px-2 {
  color: var(--aztec-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-16px {
  color: var(--ui-usagebuttonssecondary---focus);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-aztec-13px {
  color: var(--aztec);
  font-family: var(--font-family-roboto);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-ecru-white-16px {
  color: var(--ecru-white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-64px {
  color: var(--ui-usagebuttonssecondary---focus);
  font-family: var(--font-family-roboto);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-burnt-sienna-24px {
  color: var(--burnt-sienna);
  font-family: var(--font-family-roboto);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.ptmono-regular-normal-aztec-8px {
  color: var(--aztec);
  font-family: var(--font-family-pt_mono-regular);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-black-150px {
  color: var(--ui-usagebuttonssecondary---focus);
  font-family: var(--font-family-roboto);
  font-size: 150px;
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-black-15px {
  color: var(--ui-usagebuttonssecondary---focus);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-18px {
  color: var(--stylebackgroundswhite);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-ecru-white-17px {
  color: var(--ecru-white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-ecru-white-24px {
  color: var(--ecru-white);
  font-family: var(--font-family-roboto);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-ecru-white-14px {
  color: var(--ecru-white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-aztec-32px {
  color: var(--aztec-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-sonic-silver-17px {
  color: var(--sonic-silver);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-aztec-31px {
  color: var(--aztec-2);
  font-family: var(--font-family-roboto);
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-sonic-silver-18px {
  color: var(--sonic-silver);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-32px {
  color: var(--ui-usagebuttonssecondary---focus);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.ptmono-regular-normal-aztec-12px {
  color: var(--aztec);
  font-family: var(--font-family-pt_mono-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.border-1px-stylestrokemain2 {
  border: 1px dashed var(--stylestrokemain);
}
.border-1px-stylestrokemain {
  border: 1px solid var(--stylestrokemain);
}

.border-1px-ecru-white {
  border: 1px solid var(--ecru-white);
}

.ptmono-normal-aztec-12px {
  color: var(--aztec);
  font-family: var(--font-family-pt_mono);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-silver-62px {
  color: var(--styletextdisabled);
  font-family: var(--font-family-inter-medium);
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
}

.inter-bold-metallic-seaweed-14px {
  color: var(--stylebranddark);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.opensans-bold-gravel-30px {
  color: var(--gravel);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.border-4px-red {
  border: 4px solid var(--red);
}

.border-1px-ui-usagebuttonssecondary---default {
  border: 1px solid var(--ui-usagebuttonssecondary---default);
}

.border-1px-styletextdisabled {
  border: 1px solid var(--styletextdisabled);
}

.border-1px-stylebrandlight {
  border: 1px solid var(--stylebrandlight);
}

.border-1px-stylebranddark {
  border: 1px solid var(--stylebranddark);
}
.modal-photo-viewer .modal-content {
    position: relative;
    width: 900px;
    height: 600px;
    margin-left: -50%;
    margin-top: -300px;
}

.poppins-light-black-20px {
  color: var(--ui-usagebuttonssecondary---focus);
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.poppins-semi-bold-black-14px {
  color: var(--ui-usagebuttonssecondary---focus);
  font-family: var(--font-family-poppins-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-sonic-silver-14px {
  color: var(--styletextsecondary);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.poppins-medium-log-cabin-14px {
  color: var(--log-cabin);
  font-family: var(--font-family-poppins-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.montserrat-semi-bold-black-12px {
  color: var(--black);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.montserrat-regular-normal-nevada-10px {
  color: var(--nevada);
  font-family: var(--font-family-montserrat-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-metallic-seaweed-11-4px {
  color: var(--stylebranddark);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-white-11-4px {
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-sonic-silver-11-4px {
  color: var(--styletextsecondary);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-sonic-silver-10px {
  color: var(--styletextsecondary);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-xxs);
  font-style: italic;
  font-weight: 400;
}

.inter-normal-chateau-green-9px {
  color: var(--chateau-green);
  font-family: var(--font-family-inter-semibold);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-black-10px {
  color: var(--black);
  font-family: var(--font-family-montserrat-bold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.montserrat-regular-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-montserrat-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.montserrat-regular-normal-nevada-12px {
  color: var(--nevada);
  font-family: var(--font-family-montserrat-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-mine-shaft-11-4px {
  color: var(--ui-usagebuttonssecondary---default);
  font-family: var(--font-family-poppins-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-eerie-black-9-8px {
  color: var(--eerie-black);
  font-family: var(--font-family-poppins-medium);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-white-11-4px-2 {
  color: var(--stylebackgroundswhite);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-granite-gray-18px {
  color: var(--granite-gray);
  font-family: var(--font-family-inter-semibold);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-mine-shaft-14px {
  color: var(--ui-usagebuttonssecondary---default);
  font-family: var(--font-family-poppins-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.poppins-semi-bold-mine-shaft-16px {
  color: var(--ui-usagebuttonssecondary---default);
  font-family: var(--font-family-poppins-semibold);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
body.modal-open {
  overflow: hidden !important;
}
body{
  color: var(--styletextprimary);
}
.tooltip-inner{
  font-family: var(--font-family-inter-regular) !important;
}
.lobibox-body-text{
  font-family: var(--font-family-inter-regular) !important;
}
.lobibox-title{
  font-family: var(--font-family-inter-regular) !important;
}
.error_popup *{
  font-family: var(--font-family-inter-regular) !important;
}