@font-face {
	font-family: "custom-five";
	src: url("fonts/HeroicCondensed-Bold.ttf");
}
@font-face {
	font-family: "custom-five";
	src: url("../fonts/HeroicCondensed-Bold.ttf");
}
.wrpaer-thank {
	height: 100%;
	position: absolute;
	width: 100%;
}
.container-thanku {
	color: rgb(114, 114, 114);
	font-family: arial;
	height: 60%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 1024px;
}
.container-thanku h1 {
	border-bottom: 1px solid rgb(204, 204, 204);
	color: rgb(0, 0, 0);
	font-size: 3em;
	margin: 0 0 3%;
	padding: 0 0 8px;
	text-transform: uppercase;
}
.container-thanku p {
	line-height: 24px;
	margin: 3% 0;
	font-size: 14px;
}
.container-thanku > p > a#doc_view {
	background-image: linear-gradient(#28a0e5, #015e94);
	border-radius: 4px;
	color: rgb(255, 255, 255);
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin: auto;
	padding: 7px 0;
	text-decoration: none;
	text-transform: uppercase;
	width: 100px;
}
.container-thanku img {
	width: 200px;
	height: 100px;
}
